*{
    margin:0;
    padding:0;

}
body{
    background-image: url("images.png");
    text-align: center;
}
.container{
    height:70vh;
    display:flex;
    /*  */
    justify-content:center;
    align-items: center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    font-weight:bold;
    font-size: 8vmin;
    color:#090909;
    background-color: rgb(235, 171, 80);;
}
#reset-button{
    padding:1rem;
    font-size: 1.28rem;
    background-color:#191913;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 1rem;
}
#new-button{
    padding:1rem;
    font-size: 1.28rem;
    background-color:#191913;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#msg{
    
    font-size:6vmin;
}
.msg-conatiner{
    height:30vmin;
    color:black;
}
.hide{
    display:none;
}
.head{
    font-size: 60px;
    color:rgb(0, 0, 0);
    margin-bottom:5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#msg{
 color:rgb(255, 123, 0);
 margin-bottom:20px;
margin-top:20px;
font-weight: bold;
font-size:2.6rem;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sub{
    font-family:'Courier New', Courier, monospace;
}